#toolbar {
    margin-bottom: 5px;
}
#toolbar a {
    text-decoration: none;
    color: black;
}
#toolbar a:visited, #toolbar a:focus {
    color: black;
}
#create-form {
    padding: 5px;
}
#update-form {
    padding: 5px 5px 0 5px;
}
#next-btn {
    margin-top: 5px;
}
.list-item {
    border: 1px solid #D5D5D5;
    margin-bottom: -1px;
    padding-bottom: 5px;
}
.item-img {
    float: left;
    width: 200px;
}
.item-content {
    margin-left: 200px;
    margin-right: 200px;
}
.item-cost {
    width: 200px;
    float: right;
}
