#toolbar {
    margin-bottom: 5px;
}
#toolbar a {
    text-decoration: none;
    color: black;
}
#toolbar a:visited, #toolbar a:focus {
    color: black;
}
#create-form {
    padding: 5px;
}
#update-form {
    padding: 5px 5px 0 5px;
}
#next-btn {
    margin-top: 5px;
}
.list-item {
    position: relative;
    border: 1px solid #D5D5D5;
    margin-bottom: -1px;
    padding-bottom: 5px;
}
.item-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}
.item-left > img {
    width: 180px;
    max-height: 200px;
}
.item-center {
    margin-left: 200px;
    margin-right: 200px;
}
.item-description {
    height: 100px;
    overflow-y: scroll;
}
.item-right {
    width: 180px;
    float: right;
    padding-top: 20px;
    font-weight: bold;
    font-size: larger;
}
